
body {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}


#book {
	background: url("book.png") no-repeat;
	position: absolute;
	width: 877px;
	height: 570px;
	left: 50%;
	top: 20%;
	margin-left: -400px;
	margin-top: -80px;
}

#pages section {
	background: url("paper.png") no-repeat;
	display: block;
	width: 345px;
	height: 520px;
	position: absolute;
	left: 400px;
	top: 25px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 345px;
		height: 520px;
		font-size: 12px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
	visibility: hidden;
}
